@tailwind base;
@tailwind components;
@tailwind utilities;


/* Roboto Black */
@font-face {
    font-family: 'jost';
    src: url('./assets/fonts/Jost/static/Jost-Regular.ttf') format('truetype');
    font-weight: 600; 
    font-style: normal;
	/* font-size: xx-large; */
}

@font-face {
    font-family: 'jost-extra-bold';
    src: url('./assets/fonts/Jost/static/Jost-ExtraBold.ttf') format('truetype');
    /* font-weight: 100;  */
    font-style: normal;
	/* font-size: xx-large; */
}


@font-face {
    font-family: 'jost-medium';
    src: url('./assets/fonts/Jost/static/Jost-Medium.ttf') format('truetype');
    font-weight: 900; 
    font-style: normal;
	/* font-size: xx-large; */
}


@font-face {
    font-family: 'jost-italics';
    src: url('./assets/fonts/Jost/static/Jost-SemiBoldItalic.ttf') format('truetype');
    font-weight: 900; 
    font-style: normal;
	/* font-size: xx-large; */
}

@font-face {
    font-family: 'jost-light';
    src: url('./assets/fonts/Jost/static/Jost-Medium.ttf') format('truetype');
    font-weight: 900; 
    font-style: normal;
	/* font-size: xx-large; */
}
@font-face {
    font-family: 'jost-extra-light';
    src: url('./assets/fonts/Jost/static/Jost-LightItalic.ttf') format('truetype');
    font-weight: 900; 
    font-style: normal;
	/* font-size: xx-large; */
}

* {
	box-sizing: border-box;
	/* font-family: 'Alegreya Sans', sans-serif; */
	font-family: 'jost';

}


html,
body {
	max-width: 100vw;
	min-width: 100vw;
	max-height: 100vh;
	min-height: 100vh;
	overflow-x: hidden;
	overflow-y: hidden;
	font-family: 'jost';
}

.logo-font{
	font-family: 'jost-extra-bold';
}

.nav-font{
	font-family: 'jost-medium';
}

.italics{
	font-family: 'jost-italics';
}

.light{
	font-family: 'jost-light';
}

.extra-light-italics{
	font-family: 'jost-extra-light';
}

body {
	position: relative;
}

@layer components {
	.active-nav {
		@apply  border-black dark:border-white cursor-pointer hover:scale-105 text-[#2f2e2e] dark:text-[#fff] hover:text-[#2f2e2e] dark:hover:text-[#fff]  font-bold px-3 py-1 rounded-xl bg-[#dfdbdb] dark:bg-[#343333]
	}
	.inactive-nav {
		@apply cursor-pointer hover:scale-105 hover:text-[#2f2e2e] dark:hover:text-[#fff] px-3 py-1 rounded-xl bg-[#ffffff] dark:bg-[#000]
	}
}